@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Joe's Car Service</h1>
    <p class="lead">This is a demo web application.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            @Html.ActionLink("Start by selecting or adding a car.", "Index","Cars")

        </p>
    </div>
</div>